@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap');

* {
    /*reset and presets*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

:root {
    /*variaveis*/
    --primaryColor: hsl(196, 100%, 98%);
    --secundaryColor: hsl(195, 91%, 25%);
    --terciaryColor: hsla(0, 0%, 100%, 0.2);
    --textColorDefault: hsl(240, 5%, 7%);
    --textColorSecundary: hsl(0, 0%, 100%);

    /*rem > px*/
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    min-width: 100vw;
    min-height: 100vh;
}

header {
    width: 100%;
    display: grid;
    grid-template-columns: 4rem 1fr 4rem;
    background-color: var(--secundaryColor);
    padding: 1.2rem 2.8rem;
    gap: 2.5rem;
}

.input-wrapper input {
    width: 100%;
    border-radius: .5rem;
    background-color: var(--terciaryColor);
    padding: 1.2rem 1.4rem;
}